@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans'),
        url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('ttf');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

a[href] {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.href-underline:hover {
    text-decoration: underline;
}

.href-color:hover {
    color: #b59f5b;
}

.side-tag:hover {
    border-color: #b59f5b;
}

.search-btn:hover, .subscribe-btn:hover, .shop-card-btn:hover, .popup-btn:hover {
    background-color: #323232;
}

.search-btn:focus, .subscribe-btn:focus, .shop-card-btn:focus, .popup-btn:focus {
    outline: none;
    background-color: #323232;
}

input:focus, label:focus, select:focus, textarea:focus {
    border: 1px solid #b59f5b;
}

header {
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}

.top-menu__link {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
    padding: 0;
}

#button-menu {
    content: "";
    border-bottom: 10px double white;
    border-top: 3px solid white;
    height: 4px;
    width: 23px;
    box-sizing: unset;
    display: inline-block;
    vertical-align: middle;
}

.top-menu > .menu__list > li:nth-child(n+2) {
    padding-left: 35px;
}

.top-label {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.section-title__label {
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.section-title__label::after {
    content: "";
    display: block;
    width: 67px;
    border-bottom: 3px solid #e1d9bd;
    margin: 14px auto 28px;
}

.trends-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trends-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
}

.trends-card__background {
    position: relative;
    overflow: hidden;
}

.trends-card__image {
    /*position: absolute;*/
    z-index: 1;
    opacity: 0.4;
    min-width: 100%;
    /*height: 319px;*/
    min-height: 100%;
    object-fit: cover;
}

.trends-card__body{
    /*position: relative;*/
    position: absolute;
    border: #b59f5b 2px solid;
    text-align: left;
    margin: auto 15px 15px;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: inline-block;*/
    /*width: max-content;*/
}

.trends-card-menu > ul {
    padding: 38px 0 0 32px;
    margin: 0;
    flex-wrap: wrap;
}

.trends-card-menu__link {
    color: #b59f5b;
    font-size: 13px;
    font-weight: bold;
    padding-right: 20px;
    text-transform: uppercase;
}

.trends-card-title-menu__link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    /*line-height: 18px;*/
}

.container {
    margin: 0 auto;
    display: flex;
}

.footer-container {
    flex-direction: column;
}

.content-card__image > img {
    width: 100%;
    height: 100%;
}

.content-card-menu > ul {
    margin: 0;
    flex-wrap: wrap;
}

.content-card-menu__link {
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    text-transform: uppercase;
}

.content-card-title-menu__link {
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
}

.content-card-date > time {
    color: #888888;
    font-size: 12px;
}

.content-card-date > span {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.content-card-article {
    color: #0f0d0e;
}

.content-card-article:nth-child(2n + 1) {
    padding-top: 0;
}

.side-title {
    color: #0f0d0e;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.side-title::after {
    content: "";
    display: block;
    width: 67px;
    border-bottom: 3px solid #e1d9bd;
    margin: 14px auto 24px;
}

.last-post-card {
    display: flex;
}

.last-post-card:nth-child(n+1) {
    margin-top: 22px;
}

.last-post-card__image {
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin-right: 18px;
}

.last-post-card__image > img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.last-post-card-title-menu__link {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.last-post-card-title {
    padding-top: 8px;
    line-height: 18px;
}

.last-post-card-date {
    color: #000000;
    font-size: 12px;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.search-input, .subscribe-input, .popup-select, .popup-textarea {
    /*display: block;*/
    font-family: inherit;
    font-size: 13px;
    color: black;
    background: #f4f7f6;
    width: 100%;
    height: 49px;
    padding-left: 17px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

.popup-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 7px;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border: none;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    cursor: pointer;
}

.subscribe-btn, .popup-btn {
    width: 100%;
    height: 49px;
    border: none;
    background-color: #b59f5b;
    margin-top: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.popup-subscribe-btn {
    margin-top: 25px;
}

.popup-textarea {
    height: 131px;
}

.popup-radio-group-text:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 18px;
    height: 18px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}

.radio:checked+.popup-radio-group-text:before {
    background-image: url("../svg/form-circle.svg");
}

.popup-radio-group__item {
    display: inline-block;
}

.popup-radio-group__item:nth-of-type(n+2) {
    margin-left: 15px;
}

.radio {
    display: none;
}

.side-tags {
    margin-bottom: -6px;
}

.side-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border: 2px #f4f3f1 solid;
    padding: 8px 13px;
    margin: 0 0 6px 0;
}

.side-tag > a {
    text-transform: uppercase;
    color: #0f0d0e;
}

.side-topic {
    padding-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
}

.side-topic:nth-child(n + 1) {
    margin-top: 19px;
}

.side-topic__title {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.side-topic__volume {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    vertical-align: super;
}

.side-topic-image {
    display: block;
    margin: 14px auto 24px;
    width: 271px;
    height: 1px;
}

.shop-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.shop-card {
    position: relative;
    color: #0f0d0e;
    padding-bottom: 26px;
    margin-bottom: 26px;
}

.shop-card::before {
    content: '';
    position: absolute;
    border: #b59f5b 2px solid;
    left: 0;
    right: 0;
    /*top: 172px;*/
    bottom: 0;
    z-index: -1;
}

.shop-card__image {
    display: block;
    position: relative;
    /*height: 224px;*/
    margin: 0 24px;
    object-fit: cover;
    background-color: #eff6f1;
    z-index: -2;
}

.shop-card > h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 25px 15px;
    margin: 0;
}

.shop-card__context {
    padding: 0 25px;
}

.shop-card__context > span, .shop-card__link {
    font-size: 15px;
    line-height: 22px;
}

.shop-card__link {
    color: #b59f5b;
}

.shop-card__price {
    display: flex;
    height: 48px;
    margin: 22px 25px 0;
    justify-content: space-between;
}

.shop-card__price-value-price2 {
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-decoration: line-through;
}

.shop-card__price-value-price1 {
    font-size: 20px;
    font-weight: bold;
    height: 28px;
}

.rub {
    position: relative;
}

.rub::before {
    content: '–';
    position: absolute;
    top: 0.15em;
    left: 1px;
}

.shop-card-form {
    display: block;
    width: 140px;
    margin: 0;
}

.shop-card-btn {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
}

.shop-card-btn:before {
    content: 'В МАГАЗИН';
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#social {
    background-color: #f4f7f6;
    height: 83px;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /*width: 210px;*/
    padding: 0;
    margin: auto;
}

.social-icons a {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20px;
    height: 20px;
}

.social-icons a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.social-icons .social-icon-dribble::before {
    background-image: url("../svg/001-dribbble.svg");
}

.social-icons .social-icon-twitter::before {
    background-image: url("../svg/004-twitter.svg");
}

.social-icons .social-icon-pinterest::before {
    background-image: url("../svg/001-pinterest.svg");
}

.social-icons .social-icon-facebook::before {
    background-image: url("../svg/002-facebook-logo.svg");
}

.social-icons .social-icon-instagram::before {
    background-image: url("../svg/005-instagram.svg");
}

.social-icons .social-icon-tumblr::before {
    background-image: url("../svg/003-tumblr.svg");
}

#copyrights {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-align: center;
    padding-bottom: 40px;
}

#copyrights > a {
    color: inherit;
}

@media (min-width: 1201px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/banner-bg.jpg');
        height: 450px;
    }

    .noemi-logo {
        width: 179px;
        height: 41px;
    }

    .top-panel {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 28px;
    }

    .container {
        max-width: 1170px;
    }

    #button-menu {
        display: none;
    }

    .top-label {
        font-size: 45px;
        line-height: 75px;
        margin-top: 127px;
    }

    .section-title__label {
        font-size: 20px;
        padding-top: 63px;
    }

    .section-title__label::after {
        margin: 14px auto 28px;
    }

    .trends-card {
        width: calc(25% - 2px);
        min-height: 319px;
    }

    .trends-card-title-menu__link {
        font-size: 20px;
    }

    .trends-card-title {
        line-height: 24px;
        padding: 15px 32px 35px;
    }

    .content-container {
        margin-top: 63px;
    }

    .content {
        margin-right: 50px;
    }

    .content-card {
        display: flex;
    }

    .content-card:nth-child(n+2) {
        margin-top: 59px;
    }

    .content-card__image {
        width: 380px;
        min-width: 380px;
        height: 297px;
        margin-right: 30px;
    }

    .content-card-title-menu__link {
        font-size: 20px;
    }

    .content-card-title {
        padding: 15px 0 37px;
        line-height: 24px;
    }

    .content-card-article {
        font-size: 15px;
        line-height: 22px;
        padding-top: 58px;
    }

    .side-panel {
        min-width: 270px;
    }

    .side-panel > section:nth-child(n + 2) {
        margin-top: 60px;
    }

    .shop-card {
        max-width: 348px;
    }

    .shop-card::before {
        top: 172px;
    }

    .shop-card__image {
        min-height: 224px;
        width: 300px;
    }

    #social {
        margin: 64px auto 0;
    }

    .social-icons {
        width: 210px;
    }

    .social-icons-mobile {
        display: none;
    }

    #copyrights {
        padding-top: 72px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/banner-bg-tablet.jpg');
        height: 390px;
    }

    .noemi-logo {
        width: 158px;
        height: 36px;
    }

    .top-panel {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
    }

    .container {
        max-width: 698px;
    }

    .top-menu {
        display: none;
    }

    #button-menu {
        display: inline-block;
    }

    .top-label {
        font-size: 40px;
        line-height: 55px;
        margin-top: 104px;
    }

    .section-title__label {
        font-size: 18px;
        padding-top: 50px;
    }

    .section-title__label::after {
        margin: 14px auto 18px;
    }

    .trends-card {
        min-height: 247px;
    }

    @media (orientation: landscape) {
        .trends-card {
            width: calc(25% - 2px);
        }
    }

    @media (orientation: portrait) {
        .trends-card {
            width: calc(50% - 1px);
        }
    }

    .trends-card:nth-child(n+2) {
        margin-top: 2px;
    }

    .trends-card-title-menu__link {
        font-size: 17px;
    }

    .trends-card-title {
        line-height: 22px;
        padding: 15px 32px 35px;
    }

    .content-container {
        margin-top: 50px;
    }

    .content {
        margin-right: 35px;
    }

    .content-card {
        display: block;
    }

    .content-card::after {
        content: "";
        display: block;
        border-bottom: 2px solid #eeeeee;
        margin: 24px auto 0;
    }

    .content-card:nth-child(n+2) {
        margin-top: 34px;
    }

    .content-card__image {
        max-width: 392px;
        /*min-width: 392px;*/
        /*height: 301px;*/
        /*margin-right: 30px;*/
        margin-bottom: 16px;
    }

    .content-card-title-menu__link {
        font-size: 17px;
    }

    .content-card-title {
        padding: 15px 0 37px;
        line-height: 22px;
    }

    .content-card-article {
        font-size: 15px;
        line-height: 22px;
        padding-top: 35px;
    }

    .side-panel {
        min-width: 270px;
    }

    .side-panel > section:nth-child(n + 2) {
        margin-top: 60px;
    }

    .shop-card {
        max-width: 339px;
    }

    .shop-card::before {
        top: 195px;
    }

    .shop-card__image {
        min-height: 224px;
        width: 291px;
    }

    #social {
        margin: 50px auto 0;
    }

    .social-icons {
        width: 110px;
    }

    .social-icons-desktop {
        display: none;
    }

    #copyrights {
        padding-top: 49px;
    }
}

@media (max-width: 640px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/banner-mobile.jpg');
        height: 640px;
    }

    .noemi-logo {
        display: block;
        width: 269px;
        height: 59px;
        padding-top: 225px;
        margin-right: auto;
        margin-left: auto;
    }

    .top-panel {
        display: block;
        padding-top: 32px;
    }

    .container {
        max-width: 330px;
    }

    .top-menu {
        display: none;
    }

    #button-menu {
        display: block;
        margin-left: auto;
    }

    .top-label {
        font-size: 26px;
        line-height: 36px;
        margin-top: 45px;
    }

    .section-title__label {
        font-size: 16px;
        padding-top: 44px;
    }

    .section-title__label::after {
        margin: 12px auto 24px;
    }

    .trends-card {
        /*width: 100%;*/
        min-height: 233px;
    }

    .trends-card-menu > ul {
        padding: 38px 0 0 20px;
    }

    @media (orientation: landscape) {
        .trends-card {
            width: calc(50% - 1px);
        }
    }

    @media (orientation: portrait) {
        .trends-card {
            width: 100%;
        }
    }

    .trends-card:nth-child(n+2) {
        margin-top: 2px;
    }

    .trends-card-title-menu__link {
        font-size: 16px;
    }

    .trends-card-title {
        line-height: 20px;
        padding: 15px 20px 30px;
    }

    .content-container {
        margin-top: 44px;
        flex-direction: column;
    }

    .content-card {
        display: block;
    }

    .content-card::after {
        content: "";
        display: block;
        border-bottom: 2px solid #eeeeee;
        margin: 24px auto 0;
    }

    .content-card:nth-child(n+2) {
        margin-top: 34px;
    }

    .content-card__image {
        width: 380px;
        min-width: 380px;
        height: 297px;
        /*margin-right: 30px;*/
        margin-bottom: 16px;
    }

    .content-card-title-menu__link {
        font-size: 16px;
    }

    .content-card-title {
        padding: 15px 0 24px;
        line-height: 20px;
    }

    .content-card-article {
        font-size: 14px;
        line-height: 20px;
        padding-top: 22px;
    }

    .side-panel > section:nth-child(n) {
        margin-top: 44px;
    }

    .side-title {
        font-size: 16px;
    }

    .shop-card::before {
        top: 253px;
    }

    .shop-card__image {
        min-height: 285px;
        width: 283px;
    }

    #social {
        margin: 43px auto 0;
    }

    .social-icons {
        width: 110px;
    }

    .social-icons-desktop {
        display: none;
    }

    #copyrights {
        padding-top: 49px;
    }
}


/*popup*/

#popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
}

#popup-window {
    background-color: white;
    color: black;
    font-size: 13px;
    width: 390px;
    height: 600px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 30px;
}

#popup-window:before {
    content: "";
    position: absolute;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.popup-title__label::after {
    margin: 14px auto 0;
}

.popup-label {
    margin-top: 30px;
    margin-bottom: 11px;
}

@media (min-width: 1201px) {
    #popup-window:before {
        right: 0;
        top: -27px;
        width: 18px;
        height: 18px;
        background-size: 18px;
    }

    .popup-title__label {
        padding-top: 53px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) {
    #popup-window:before {
        right: 0;
        top: -37px;
        width: 28px;
        height: 28px;
        background-size: 28px;
    }

    .popup-title__label {
        padding-top: 53px;
    }
}

@media (max-width: 640px) {
    #popup-window {
        width: 330px;
        height: 545px;
        padding: 0 23px;

    }

    #popup-window:before {
        right: 0;
        top: -32px;
        width: 27px;
        height: 27px;
        background-size: 27px;
    }

    .popup-title__label {
        padding-top: 23px;
    }
}

._hidden {
    display: none;
}